.account-page {
    background-color: #f3f3f3;
    .add-wrapper {
        background: #fff;
        fill: #ffffff;
        padding: 5px 5px;
        color: #ffffff;
        border-radius: 50%;
        text-align: center;
        img {

        }
    }
    .item {
        background-color: #fff;
        border-radius: 10px;
    }
}