.wrapper {
    background-color: #2196F3;
    .page-overview__overview {
        background-color: #fff;
        border-radius: 15px;
    
        .chart {
            // .left {
            // }
    
            .right {
                .in {
                    color: green;
                }
    
                .out {
                    color: red;
                }
            }
        }
    }
}