.chart {
    // .left {
    //     // width: 160px;
    // }

    .right {
        .in {
            color: green;
        }

        .out {
            color: red;
        }
    }
}



.name {
    flex: 0 0 auto;
    width: 100px;
}

.value {
    flex: 1 1 auto;

    select,
    input {
        height: 35px;
    }
}

.example-tree-invisible {
    display: none;
}

.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}

.example-tree .mat-nested-tree-node div[role=group] {
    padding-left: 40px;
}

.example-tree div[role=group]>.mat-tree-node {
    padding-left: 40px;
}

.btn-ct {
    border: none;
    background-color: transparent;
}